<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="form_main">
        <h4 class="heading"><strong>Cadastrar </strong> Usuário <span></span></h4>
        <div class="form">
          <form id="usuario" name="newUsuario">
            <div id="div-nome"><input type="text" placeholder="Nome" name="nome" id="nome" [(ngModel)]="cliente.nome"
                class="txt"></div>
            <div id="div-sobrenome"><input type="text" placeholder="Sobrenome" name="sobrenome"
                [(ngModel)]="cliente.sobrenome" id="sobrenome" class="txt"><br></div>
            <div id="div-cpf"><input type="text" placeholder="CPF" name="cpf" class="txt" id="cpf"
                onkeypress="mascara('###.###.###-##',this,event,true)" maxlength="14"></div>
            <div id="div-cnpj"><input type="text" placeholder="CNPJ" name="cpf" class="txt" id="cnpj"
                onkeypress="mascara('##.###.###/####-##',this,event,true)" maxlength="14"></div>
            <div id="div-sexo">
              <input type="radio" name='sexo' [(ngModel)]="cliente.sexo" id="cad_sexo_m" value="M" />
              <label for="cad_sexo_m">Masculino</label>
              <input type="radio" name='sexo' [(ngModel)]="cliente.sexo" id="cad_sexo_f" value="F" />
              <label for="cad_sexo_f">Feminino</label>
              <input type="radio" name='sexo' [(ngModel)]="cliente.sexo" id="cad_sexo_n_i" value="N" />
              <label for="cad_sexo_n_i">Não informar</label>
            </div>
            <div id="div-dataNasc"><input type="text" placeholder="Data de Nascimento" name="dataNasc" id="dataNasc"
                class="txt" onkeypress="mascara('##/##/####',this,event,true)" maxlength="10"
                [(ngModel)]="cliente.dataNascimento"></div>
            <div id="div-tipo-enderecos">
              <select [(ngModel)]="tipoEndereco" id="select-tipo-enderecos" name="select-tipo-enderecos">
                <option id="select-tipo-endereco" name="select-tipo-endereco" *ngFor="let tipoEndereco of tipoEnderecos"
                  [ngValue]="tipoEndereco">{{tipoEndereco.descricao}}</option>
              </select>
            </div>
            <div id="div-estados">
              <select [(ngModel)]="estado" id="select-estados" name="select-estados">
                <option id="select-estado" name="select-estado" *ngFor="let estado of estados" [ngValue]="estado">
                  {{estado.descricao}}</option>
              </select>
            </div>
            <div *ngIf="estado != null" id="div-cidades">
              <select [(ngModel)]="cidade" id="select-cidades" name="select-cidades">
                <option id="select-cidade" name="select-cidade" *ngFor="let cidade of getCidadesDoEstado()"
                  [ngValue]="cidade">{{cidade.descricao}}</option>
              </select>
            </div>
            <div id="div-email"><input type="text" placeholder="Email" name="email" id="email" class="txt"
                [(ngModel)]="cliente.usuario!.email"></div>
            <div id="div-senha"><input type="password" placeholder="Senha" name="senha" id="senha" class="txt"
                maxlength="16" [(ngModel)]="cliente.usuario!.senha"></div>
            <div id="div-validarSenha"><input type="password" placeholder="Repita a senha" name="validarSenha"
                id="validarSenha" class="txt" maxlength="16" [(ngModel)]="cliente.usuario!.reSenha"></div>
            <div><input type="button" value="Cadastrar" name="submit" class="txt2" (click)="cadastraCliente()"></div>
          </form>
          <div class="form" id="endereco">
            <form action="#" method="post" id="endereco" name="newEndereco">
                <input type="text"  placeholder="Rua"  name="rua" class="txt">
                <input type="text"  placeholder="Nº" name="numero" class="txt"><br>
                <input type="text"  placeholder="Bairro" name="bairro" class="txt" id="bairro">
                <input type="text"  placeholder="Cidade" name="cidade" class="txt">
                <input type="text"  placeholder="Estado"  name="estado" class="txt">
                <input type="text"  placeholder="CEP" name="cep" class="txt" onkeypress="mascara('#####-###',this,event,true)" maxlength="9">
                <input type="text"  placeholder="Ponto de referência" name="pontoReferencia" class="txt">
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
