<script src="../../../../../frontend/js/login/login.js"></script>
<div id="divLogin">
  <form  id="newPassword" method="post">
      <div id="inputs">

        <br><br>
        <h1>Redefinir Senha</h1>
          <input type="password" placeholder="Nova senha" id="senhaNova" maxlength="16">
          <br><br>
          <input type="password" placeholder="Digite novamente" id="confirmarSenha" maxlength="16">
          <br><br>
          <input type="submit" value="Redefinir">

      </div>
  </form>
</div>
