#divSelecFrete{
    margin: auto;
    width: 80%;
    height: 450px;
    padding-top: 50px; 
    background-color: darkgrey;
    border-radius: 20px;
    text-align: center;
}

#divPagFrete{
    width: 700px; 
    height: 738px;
}

#pFrete{
    font-size: 50px;
}