<div class="container">
  <div class="row">
    <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
          <!-- form card login -->
          <div class="card rounded shadow shadow-sm">
            <div class="card-header">
              <h3 class="mb-0">Cupom de Desconto</h3>
            </div>
            <div class="card-body">
              <p>O cupom do desconto de R$15,00 é: 14521DASD41AD.</p>
              <p>Insira o código do cupom no momento da escolha da forma de pagamento de uma compra.</p>
              <input type="button" class="btn btn-secondary btn-lg float-right" [routerLink]="['/admin']" value="Voltar">
            </div>
            <!--/card-block-->
          </div>
          <!-- /form card login -->
        </div>
      </div>
      <!--/row-->
    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->
