#divCarrinho{
  padding-top: 50px;
  border: 2px solid black;
}


#divBotoes{
  height: 392px;
}

img{
  width: 250px;
  height:  250px;
}

p{
  position: relative;
  padding-left: 400px;
}

#divImg{
  position: initial;
}

img#img{
  width: 50px;
  height: 50px;
}

button{
  width: 225px;
  text-align: center;
  padding: 5px 15px;
  border: 1px solid #eee;
  border-radius: 6px;
  background-color: #FCC302;
  font-size: 18px;
}
