<br><br><br><br>
<div id=divCarrinho>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Produto</th>
        <th scope="col">Descrição</th>
        <th scope="col">Preço</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><input type="radio" id="produto" name="produto" value="produto">
          <img src="../../assets/img/0005-bob-esponja-versao-04-coyote-geek.jpg" alt="Caneca Bob esponja" id="img">
        </th>
        <td>Caneca Bob Esponja</td>
        <td>Caneca de porcelana branca com estampa personalizada</td>
        <td>R$39,90</td>
      </tr>
    </tbody>
  </table>

    <p><p>
        <p></p>
        <p></p>
    <div id="divImg">

        <div style="padding-left: 500px;">
            <button>Remover do carrinho</button>
        </div>
        <br>
    </div>

</div>
<br>
<div id="divBotoes">
    <form >
        <button id="btnComprar" [routerLink]="['/forma_de_pagamento']">Prosseguir</button>
        <button [routerLink]="['/home']">Continuar Comprando</button>
        <br><br>
        <input type="text" placeholder="Cupom de desconto"><br><br>
        <button>Inserir</button>
    </form>
    <br>
</div>
