
<div class="container">
  <div id="divPerfil">
    <br><br>
    <div id="foto">
    </div>
  <div class="vertical-menu">
    <a class="active">Opções</a>
    <a [routerLink]="['/enderecos_cadastrados']">Endereços Cadastrados</a>
    <a [routerLink]="['/cartoes_cadastrados']">Cartões Cadastrados</a>
    <a [routerLink]="['/alterar_cliente']">Alterar dados pessoais</a>
  </div>
  <br><br>
    <div id="divDadosPessoais">
      <p id="nome">Nome Completo: </p>
      <div ></div>
      <p id="numeroTelefone">Nº de Celular: </p>
      <div ></div>
      <p id="sexo">Sexo: </p>
      <div ></div>
      <p>CPF: </p>
      <div></div>
      <p>Email: </p>
      <div></div>
      <a>Trocar senha</a>
    </div>
    <br><br>
    <button id="inativarConta" onclick="inativarConta();">Inativar conta</button>
  </div>
    <h2>
      <div id="nome-usuario-principal"></div>
    </h2>
    <br>
</div>
