<div id="divPerfil">
  <br><br>
  <div id="foto">
  </div>
  <h2>
    <div id="nome-usuario-principal"></div>
  </h2>
  <br>
  <div id="divDadosPessoais">
    <p id="nome">Nome Completo: </p>
    <div ></div>
    <p id="numeroTelefone">Nº de Celular: </p>
    <div ></div>
    <!--<p id="sexo">Sexo: <div ></div></p>
    <p>CPF: <div id="cpf"></div></p>
    <p>Email: <div id="email"></div></p>
    <a href="./esqueceu_senha.html">Trocar senha</a>-->
  </div>
  <div class="vertical-menu">
    <a class="active">Opções</a>
    <a href="enderecos_cadastrados.html">Endereços Cadastrados</a>
    <a href="./cartoes_cadastrados.html">Cartões Cadastrados</a>
    <a href="./altera_cliente.html">Alterar dados pessoais</a>
  </div>
  <br><br>
  <button id="inativarConta" onclick="inativarConta();">Inativar conta</button>

</div>
