<br><br><br>
<div class="container">
  <h1 class="my-4">Pedidos em Transito</h1>
  <hr>
  <div class="row">
    <div class="col-lg-10 offset-1">
      <div class="col-lg-10 float-left">
        <input type="text" name="valorBusca"  class="form-control" placeholder="Pesquisar pedido"><!--[(ngModel)]="valorBuscado"-->
      </div>
      <div class="col-lg-2 float-right">
        <input type="button"  class="btn btn-secondary" value="Pesquisar"><!--(click)="filtrar()"-->
      </div>
    </div>
  </div>
  <hr>
  <div > <!--*ngIf="pedidosFiltrados?.length > 0;else semItensEmTransito"-->
    <div class="row"  > <!--*ngFor="let pedido of pedidosFiltrados"-->
      <div class="col-lg-12 mb-4">
        <div class="card rounded shadow shadow-sm">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <h3 class="card-text"><strong>Código do pedido:</strong> </h3><!--{{pedido?.codigoPedido}}-->
                <hr>
              </div>
              <div class="col-lg-10">
                <div class="row" > <!--*ngFor="let item of pedido?.itemList"-->
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="col-lg-2">
                        <img class="card-img-top" > <!--[src]="item?.carta?.imagemPath" alt=""-->
                      </div>
                      <div class="col-lg-9">
                        <p class="card-text"><strong>Produto:</strong> </p> <!--{{item?.carta?.nome}}-->
                        <p class="card-text"><strong>Categoria:</strong> </p> <!--{{item?.carta?.categoriaCarta?.nome}}-->
                        <p class="card-text"><strong>Quantidade requisitada:</strong> </p> <!--{{item?.quantidade}}-->
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-10">
                    <p class="card-text"><strong>Cliente:</strong> </p> <!--{{pedido?.cliente?.nome}} {{pedido?.cliente?.sobrenome}}-->
                    <p class="card-text"><strong>Administrador:</strong> </p> <!--{{pedido?.administrador?.nome}} {{pedido?.administrador?.sobrenome}}-->
                    <p class="card-text"><strong>Email:</strong> </p><!--{{pedido?.cliente?.usuario?.email}}-->
                    <p class="card-text"><strong>Data da compra:</strong> </p><!--{{pedido?.dataCompra | date: 'dd/MM/yyyy'}}-->
                    <div class="mb-md-3" > <!--*ngFor="let formaPagamento of pedido?.formaPagamentoList"-->
                      <p class="card-text" > <!--*ngIf="formaPagamento?.cartaoCredito != null; else comCupom"-->
                        <strong>Cartão final </strong> <!--{{formaPagamento?.cartaoCredito?.numero}}:--> <!--{{formaPagamento?.valorPagamento | currency: 'BRL': true}}.-->
                      </p>
                      <ng-template class="card-text" #comCupom>
                        <strong>Cupom com o numero </strong>  <!--{{formaPagamento?.cupom?.codigo}}:--> <!--{{formaPagamento?.valorPagamento | currency: 'BRL': true}}.-->
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2">
                <button class="btn btn-success " >Confirmar Entrega</button> <!--(click)="confirmaPedidoEntrege(pedido)"-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #semItensEmTransito>
    <div class="row">
      <div class="col-lg-10">
        <h3 class="card-text text-center"><strong>Nenhum pedido encontrado.</strong></h3>
      </div>
    </div>
  </ng-template>
</div>

