<div id="idInserirProd">
<form action="../inserir-produto/inserir-produto.component.html">
    <!-- area de campos do form -->
    <div id="actions" class="row">
        <div class="row">
            <div class="form-group col-md-4">
              <label for="Produto">Produto</label>
              <input type="text" class="form-control" id="produto">
            </div>            
            <div class="form-group col-md-4">
              <label for="Categoria">Categoria</label>
              <input type="text" class="form-control" id="categoria">
            </div>        
            <div class="form-group col-md-4">
              <label for="Preco">Preço</label>
              <input type="text" class="form-control" id="preco">
            </div>
            <div class="form-group col-md-4">
                <label for="Quantidade">Quantidade</label>
                <input type="text" class="form-control" id="quantidade">
              </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="../inserir_produto.html" class="btn btn-default">Cancelar</a>
            </div>
        </div>
    </div>
  </form>
</div>