<!-- <div id="divMeusPedidos">
  <table>
      <tr>
          <th>Nº Pedido</th>
          <th>Data</th>
          <th>Pagamento</th>
          <th>Posição</th>
          <th>Frete</th>
          <th>Código de rastreio</th>
          <th>Gerar Cupom de troca</th>
          <th>Cupom de troca</th>
      </tr>
      <tr>
          <td><a href="./pedido_finalizado.html">11054</td>
          <td>30/08/2020</td>
          <td>Cartão de Crédito</td>
          <td>Entregue</td>
          <td>Sedex</td>
          <td>WB12345678br</td>
          <td>
              <form method="post" id="formTroca">
                  <input type="submit" value="Gerar Cupom de troca">
              </form>
          </td>
          <td><a href="./troca.html" id="cupomTroca"></a></td>
      </tr>
  </table>
</div>-->
