<div class="container">
  <div class="row">
  <div class="col-md-4">
      <div class="form_main">
              <h4 class="heading"><strong>Cadastrar </strong> Endereço <span></span></h4>
              <div class="form">
              <form action="#" method="post" id="endereco" name="newEndereco">
                  <input type="text"  placeholder="Rua"  name="rua" class="txt">
                  <input type="text"  placeholder="Nº" name="numero" class="txt"><br>
                  <input type="text"  placeholder="Bairro" name="bairro" class="txt" id="bairro">
                  <input type="text"  placeholder="Cidade" name="cidade" class="txt">
                  <input type="text"  placeholder="Estado"  name="estado" class="txt">
                  <input type="text"  placeholder="CEP" name="cep" class="txt" onkeypress="mascara('#####-###',this,event,true)" maxlength="9">
                  <input type="text"  placeholder="Ponto de referência" name="pontoReferencia" class="txt">
                  <input type="submit" value="Cadastrar" name="submit" class="txt2">
              </form>
          </div>
          </div>
      </div>
  </div>
</div>
