<br><br><br><br><br><br><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nº Pedido</th>
      <th scope="col">Data</th>
      <th scope="col">Pagamento</th>
      <th scope="col">Posição</th>
      <th scope="col">Frete</th>
      <th scope="col">Código de rastreio </th>
      <th scope="col">Gerar Cupom de troca</th>
      <th scope="col">Cupom de troca</th>
      <th scope="col">Devolução</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><input type="radio"></th>
      <td>12345</td>
      <td>30/03/2021</td>
      <td>Cartão de crédito</td>
      <td>Entregue</td>
      <td>Sedex</td>
      <td>WB12345678br</td>
      <td><button>Gerar Cupom</button></td>
      <td><a [routerLink]="['/troca']">6A568B</a></td>
      <td><button [routerLink]="['/solicitar_devolucao']">Devolução</button></td>
    </tr>
  </tbody>
</table>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


