<div id="pagCadastroCartao">
  <div id="divCadastroCartao">
      <form action="./cartoes_cadastrados.html">
          <h1>Cadastrar Cartão</h1> <br><br>
          <input type="text" id="nomeCartao" placeholder="Nome Cartão">
          <input type="text" id="nCartao" placeholder="Nº cartão">
          <br><br>
          <input type="text" id="dataVenc" placeholder="Data de Vencimento">
          <input type="text>" id="codSeguranca" placeholder="Código de segurança">
          <br><br><br>
          <input type="submit" value="Cadastrar Cartão">
      </form>
  </div>
</div>
