<div id="divLogin">
  <form  id="login">
      <div id="inputs">
          <h1>Palácio Geek</h1>
          <br><br>
          <div *ngIf="menssagensDeErro.length > 0">
            <div *ngFor="let messagemDeErro of menssagensDeErro">
              <p>{{ messagemDeErro }}</p>
            </div>
          </div>
          <div id="div-email"><input type="text" placeholder="Email" id="email" name="email" [(ngModel)]="usuario.email"></div>
          <br><br>
          <div id="div-senha"><input type="password" placeholder="Senha" id="senha" name="senha"  [(ngModel)]="usuario.senha"></div>
          <br><br>
          <input type="button" value="Entrar" id="btnEntrar" (click)="validaLogin()">
          <br><br>
          <a href="./esqueceu_senha.html">Esqueçeu sua senha?</a>
      </div>
  </form>
  <script src="../js/login.js"></script>
</div>
<div id="cadastroCliente">
  <form>
      <h1>Ainda não possui uma conta? Cadastre-se</h1>
      <input type="submit" value="Criar Conta" id="btnCriarConta" [routerLink]="['../cadastro_cliente']">
  </form>
</div>
