div#inputs{
  padding-top: 200px;
  text-align: center;
}

input#btnEntrar{
  width: 225px;
  text-align: center;
  padding: 15px 20px;
  border: 1px solid #eee;
  border-radius: 6px;
  background-color: #FCC302;
  font-size: 18px;
}

div#cadastroCliente{
  text-align: center;
}

input#btnCriarConta{
  width: 350px;
  text-align: center;
  padding: 15px 20px;
  border: 1px solid #eee;
  border-radius: 6px;
  background-color: #FCC302;
  font-size: 18px;
}

label{
  font-family: roboto;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 20px;
  text-transform: uppercase;
}

inputs{
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px 0 10px 5px;
  width: 100%;
}
