

<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="p-4 pt-5">
      <h1><p class="logo">Admin</p></h1>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a href="#analiseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Análise</a>
          <ul class="collapse list-unstyled" id="analiseSubmenu">
            <li>
              <a class="" [routerLink]="['/admin/grafico-vendas']">Gráfico de vendas</a>
            </li>
          </ul>
        </li>
        <li class="active">
          <a href="#produtoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Produto</a>
          <ul class="collapse list-unstyled" id="produtoSubmenu">
            <li>
              <a class="card-text" [routerLink]="['/admin/cadastrar_produto'] ">Novo produto</a>
            </li>
            <li>
              <a class="card-text" [routerLink]="['/admin/alterar_produto']">Produtos ativos</a>
            </li>
            <li>
              <a class="card-text" [routerLink]="['/admin/produtos_inativados']">Produtos inativos</a>
            </li>
            <li>
              <a class="card-text" [routerLink]="['/admin/estoque']">Estoque</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#pedidoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pedidos</a>
          <ul class="collapse list-unstyled" id="pedidoSubmenu">
            <li>
              <a class="card-text" [routerLink]="['/admin/pedidos_pendentes']">Pendentes de aprovação</a>
            </li>
            <li>
              <a class="card-text" [routerLink]="['/admin/pedidos_transito']">Em Trasito</a>
            </li>
            <li>
              <a class="card-text" [routerLink]="['/admin/pedidos_entregues']">Entregue</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="card-text" [routerLink]="['/admin/clientes_ativos']">Clientes ativos</a>
        </li>
        <li>
          <a href="#cupomSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cupom</a>
          <ul class="collapse list-unstyled" id="cupomSubmenu">
            <li>
              <a class="card-text" [routerLink]="['/admin/gerar_cupom']">Gerar cupom de desconto</a>
            </li>
            <li>
              <a class="card-text" [routerLink]="['/admin/lista_ticket']">Lista de cupons</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#trocaSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Troca</a>
          <ul class="collapse list-unstyled" id="trocaSubmenu">
            <li>
              <a class="card-text" [routerLink]="['/admin/troca_pendente']">Pendentes de aprovação</a>
            </li>
            <li>
              <a class="card-text" [routerLink]="['/admin/troca_transito']">Pendente de recebimento</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#devolucaoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Devolução</a>
          <ul class="collapse list-unstyled" id="devolucaoSubmenu">
            <li>
              <a class="card-text" [routerLink]="['/admin/pendente_aprovacao']">Pendentes de aprovação</a>
            </li>
            <li>
              <a class="card-text" [routerLink]="['/admin/devolucao_transito']">Em transito</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div id="content" class="p-4 p-md-5 pt-5">
    <router-outlet></router-outlet>
  </div>
</div>


