<h1>ADMIN</h1>
    <div id="divPag">
        <div class="vertical-menu">
            <a class="active">Opções</a>
            <a [routerLink]="['/cadastrar_produto']">Cadastrar Produtos</a>
            <a [routerLink]="['/alterar_produto']">Alterar Produtos</a>
            <a [routerLink]="['/gerar_cupom']">Cupom de desconto</a>
        </div>
        <div id="divConteudo">
          <h1>Vendas</h1>
          <img src="../../assets/img/excel-charts-create-trendline.png">
        </div>
        <br><br><br><br>
