
<h1>ADMIN</h1>
    <div id="divPag">
        <div class="vertical-menu">
            <a class="active">Opções</a>
            <a [routerLink]="['/cadastrar_produto']">Cadastrar Produtos</a>
            <a [routerLink]="['/alterar_produto']">Produtos</a>
            <a [routerLink]="['/gerar_cupom']">Cupom de desconto</a>
            <a [routerLink]="['/']">Gerenciar Trocas</a>
        </div>
        <div id="divConteudo">

          <h1>Vendas</h1>
          <img src="../../assets/img/excel-charts-create-trendline.png">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Tipo de Cliente</th>
                <th scope="col">Inativar</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes">
                <th scope="row">{{clientes.indexOf(cliente)+1}}</th>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.sobrenome}}</td>
                <td>{{cliente.tipoCliente!.nome}}</td>
                <td><button (click)='inativarConta(cliente)'>Inativar</button></td>
                <td>{{cliente.usuario!.status!.nome}}</td>
              </tr>
            </tbody>
          </table>

        </div>
        <br><br><br><br>
