<h1>Endereços Cadastrados</h1>
    <br><br>
    <form action="./selecionar_frete.html">
      <table>
          <tr>
              <th>Rua</th>
              <th>Nº</th>
              <th>Bairro</th>
              <th>Cidade</th>
              <th>Estado</th>
              <th>CEP</th>
          </tr>
          <tr>
              <td>Rua Alberto Pezzuol</td>
              <td>300</td>
              <td>Jardim Carlos Cooper</td>
              <td>Suzano</td>
              <td>SP</td>
              <td>08664-280</td>
          </tr>
      </table>
      <input type="submit" value="Prosseguir">
    </form>
    <div>
      <form action="./endereco.html" id="btnCadastrarEndereço">
        <input type="submit" value="Cadastrar Endereço">
      </form>


    </div>
