<div class="container">
  <h1 class="my-4">Pedidos de Devolução Pendentes</h1>
  <hr>
  <div class="row">
    <div class="col-lg-10 offset-1">
      <div class="col-lg-10 float-left">
        <input type="text"  name="valorBusca"  class="form-control" placeholder="Pesquisar troca"> <!--[(ngModel)]="valorBuscado"-->
      </div>
      <div class="col-lg-2 float-right">
        <input type="button"  class="btn btn-secondary" value="Pesquisar"> <!--(click)="filtrar()"-->
      </div>
    </div>
  </div>
  <hr>
  <div > <!--*ngIf="devolucoesFiltrada?.length > 0;else semItemTroca"-->
    <div class="row"  > <!--*ngFor="let devolucao of devolucoesFiltrada"-->
      <div class="col-lg-12 mb-4">
        <div class="card rounded shadow shadow-sm">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-10">
                <div class="row" > <!--*ngFor="let item of devolucao?.itemTransicaoList"-->
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="col-lg-2">
                        <img class="card-img-top" > <!--[src]="item?.item?.carta?.imagemPath" alt=""-->
                      </div>
                      <div class="col-lg-9">
                        <p class="card-text"><strong>Produto:</strong> </p> <!--{{item?.item?.carta?.nome}}-->
                        <p class="card-text"><strong>Categoria:</strong> </p> <!--{{item?.item?.carta?.categoriaCarta?.nome}}-->
                        <p class="card-text"><strong>Quantidade requisitada:</strong> </p> <!--{{item?.quantidade}}-->
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-10">
                    <p class="card-text"><strong>Código de devolução:</strong> </p> <!--{{devolucao?.codigo}}.-->
                    <p class="card-text"><strong>Nº do pedido pertencente:</strong> </p> <!--{{devolucao?.pedido?.codigoPedido}}.-->
                    <p class="card-text"><strong>Cliente:</strong> </p> <!--{{devolucao?.pedido?.cliente?.nome}} {{devolucao?.pedido?.cliente?.sobrenome}}-->
                    <p class="card-text"><strong>Email:</strong> </p><!--{{devolucao?.pedido?.cliente?.usuario?.email}}-->
                    <p class="card-text"><strong>Data da compra:</strong> </p><!--{{devolucao?.pedido?.dataCompra | date: 'dd/MM/yyyy'}}-->
                    <p><strong>Valor da troca:</strong> </p> <!--{{devolucao?.subTotal | currency: 'BRL': true}}-->
                  </div>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="row">
                  <div class="col-lg-12 mb-md-3">
                    <button class="btn btn-success" >Aprovar Devolução</button> <!--(click)="aprovarRequisicaoDevolucao(devolucao)"-->
                  </div>
                  <div class="col-lg-12">
                    <button class="btn btn-danger" >Rejeitar Devolução</button> <!--(click)="rejeitarRequisicaoDevolucao(devolucao)"-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #semItemTroca>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="card-text text-center"><strong>Nenhuma troca encontrada.</strong></h3>
      </div>
    </div>
  </ng-template>
</div>
