<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a [routerLink]="['home']" class="navbar-brand" >Palácio Geek</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a [routerLink]="['login']"  class="nav-link" >Login | Cadastre-se</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/meus_pedidos']">Meus pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/carrinho']">Carrinho</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
