<br><br><br><br><br><br>
<div id="divFormaPgto">
  <br><br><br><br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome no cartão</th>
        <th scope="col">Bandeira</th>
        <th scope="col">Número do cartão</th>
        <th scope="col">Data de validade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><input type="radio"></th>
        <td>Wesley Bonaccosi</td>
        <td>Mastercard</td>
        <td>9999 9999 9999 9999</td>
        <td>08/27</td>
      </tr>
      <tr>
        <th scope="row"><input type="radio"></th>
        <td>Wesley Bonaccorsi</td>
        <td>Visa</td>
        <td>9999 9999 9999 9999</td>
        <td>04/25</td>
      </tr>
    </tbody>
  </table>

  <button [routerLink]="['/cadastrar_cartao']">Adicionar cartão</button>
  <button [routerLink]="['/alterar_cartao']">Alterar cartão</button>
  <button>Excluir cartão</button>

  <br><br>
  <button [routerLink]="['/selecionar_frete']">Prosseguir</button>

</div>

<div>


