<br><br><br><br><br><br>
<div class="container">
  <div class="row">
  <div class="col-md-4">
      <div class="form_main">
              <h4 class="heading"><strong>Cadastrar </strong> Produto <span></span></h4>
              <div class="form">
              <form action="#" method="post" id="endereco" name="newEndereco">
                  <input type="text"  placeholder="Nome do produto"  name="produto" class="txt">
                  <input type="text"  placeholder="Descrição" name="descricao" class="txt"><br>
                  <input type="text"  placeholder="Preço" name="preco" class="txt" >
                  <input type="text"  placeholder="Estoque" name="estoque" class="txt" >
                  <button>Inserir Imagem</button><br><br>
                  <button [routerLink]="['/admin']">Cadastrar Produto</button>
              </form>
          </div>
          </div>
      </div>
  </div>
</div>
<br><br><br><br>
